.btn-warning {
  font-size: 30px;
  width: 100%;
}
body {
  background-size: cover;
}
img.div-speed-img {
  width: 200px;
  border-radius: 100px;
}
.div-speed {
  float: left;
}
.div-vol {
  float: right;
}
.btn-success {
  font-size: 30px;
}
.canvas {
  border: 10px solid black;
}
